<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About Us</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-image: url('../../assets/headerbg.jpg'); width: 100%; height: 100%">
<div>
		   <h1 style="color: white; border-bottom:  1px solid white; padding-bottom : 10px">About Us</h1>

		   <p style="color : white; font-size: 16px; text-align: center;">
		   	Billions of pictures are clicked everyday,forgotten or lost with time.
From the last clicked picture to the first, forgotten somewhere in mobile phones or deleted just to save up some space.
No more! We provide you with an affordable, hassle free fix-

With MyPicBook, the online premium quality picture book service, you can get your memories printed,bound in a elegant book delivered at your door steps! Your book of memories will be perforated, for you to gift the pictures to your dearies or to frame them!

All you need to do is pick out a set of 20 or 50 of your Favourite photos, upload them on our website and leave it to Team MyPicBook to turn them into a beautiful PicBook of Memories.

The team at MyPicbook makes sure each of your photos are as perfect as your memories. :)
		   </p>	
	</div>
</ion-content>
