<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-image: url('../../assets/headerbg.jpg'); width: 100%; height: 100%">
<div style="text-align: center;">
    <img src="../../assets/picbook-nobg.png" style="width: 50%">
  </div>
  <div style="padding-left : 20px; align-items: center;">
    <h1 style="color: white; border-bottom:  1px solid white; padding-bottom : 10px">Login</h1>
        <br/>
        <h2 style="color: white">Username</h2>
        <ion-item>
          <ion-label fixed>Username</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>
        <br/>
        <h2 style="color: white">Password</h2>
        <ion-item>
          <ion-label fixed>Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <br/>
        <button style="width: calc(100%); padding: 5px " ion-button color="secondary" (click)="callLogin()" >Login</button>
  </div>
</ion-content>
