<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>>

</ion-header>


<ion-content padding style="background-image: url('https://www.mypicbook.in/img/header-bg.jpg'); width: 100%; height: 100%">

  <div style="text-align: center;">
    <h1 style="color: white; border-bottom:  1px solid white; padding-bottom : 10px">Contact Us</h1>
        <div style="margin: 10px 10px 10px 10px">
          <ion-item>
            <ion-label fixed>Your Name</ion-label>
            <ion-input type="text" value=""></ion-input>
          </ion-item>
        </div>
        <div style="margin: 10px 10px 10px 10px">
          <ion-item>
            <ion-label fixed>Your Email</ion-label>
            <ion-input type="text" value=""></ion-input>
          </ion-item>
        </div>
        <div style="margin: 10px 10px 10px 10px">
          <ion-item>
            <ion-label fixed>Your Phone</ion-label>
            <ion-input type="text" value=""></ion-input>
          </ion-item>
        </div>
        <div style="margin: 10px 10px 10px 10px">
          <ion-item>
            <ion-label fixed>Your Message</ion-label>
            <ion-input type="text" value="" style="height: 200px"></ion-input>
          </ion-item>
        </div>
        <br/>
        <button style="width: calc(100% - 20px); padding: 5px ; margin: 10px 10px 10px 10px" ion-button color="secondary">Login</button>
  </div>
  
</ion-content>

