page-home {

}

#heading {
	font-size: 26px;
	color: white;
}

#card {
    background: white;
    text-align: center;
    padding: 10px;
    margin: 0;
    box-shadow: black 3px 3px 14px 1px;
    border-radius: 4px;
    margin: 20px;
}

#cardText {
	font-size: 14px;
    margin: 2px;
    font-weight: bold;
}