<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-image: url('../../assets/headerbg.jpg'); width: 100%; height: 100%">
  <div id= "wrap">
    <h2 id= "heading" >CHOOSE TYPE OF PICBOOK :</h2>
    <div id= "card" (click)="setType(1)"> 
    <p id= "cardText" >4 X 6 INCHES</p><br/>
    <p id= "cardText" >20 PAGES</p><br/>
    <p id= "cardText" >RS.149 + (50)DELIVERY</p><br/>
    </div>
    
    <div id= "card" (click)="setType(2)"> 
    <p id= "cardText" >4 X 6 INCHES</p><br/>
    <p id= "cardText" >50 PAGES</p><br/>
    <p id= "cardText" >RS.249 + (50)DELIVERY</p><br/>
    </div>
    
    <div id= "card" (click)="setType(3)"> 
    <p id= "cardText" >6 X 8 INCHES</p><br/>
    <p id= "cardText" >20  PAGES</p><br/>
    <p id= "cardText" >RS.199 + (50)DELIVERY</p><br/>
    </div>
    
    <div id= "card" (click)="setType(4)"> 
    <p id= "cardText" >6 X 8 INCHES</p><br/>
    <p id= "cardText" >50  PAGES</p><br/>
    <p id= "cardText" >RS.349 + (50)DELIVERY</p><br/>
    </div>
  </div>
</ion-content>
