page-cover {

}
#picWrap {
	width: 100%;
	height: 200px;
	overflow: hidden;
    background-size: cover;
    background-position: center;
    margin: 27px 0 10px 0;
}

#heading {
	font-size: 26px;
	color: white;
}