<!--
  Generated template for the CoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Choose Cover</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-image: url('../../assets/headerbg.jpg'); width: 100%; height: 100%">
	<div id="wrap">

		<h2 id="heading">CHOOSE THE PREFERRED COVER OF YOUR PICBOOK :</h2>
		
		<div id="picWrap" style="background-image: url('../../assets/1.jpg');" (click)="selectCover(1)">
			<!-- <ion-img id="img" src="../../assets/1.jpg"></ion-img> -->
		</div>
		
		<div id="picWrap" style="background-image: url('../../assets/2.jpg');" (click)="selectCover(2)">
			<!-- <ion-img id="img" src="../../assets/2.jpg"></ion-img> -->
		</div>
		
		<div id="picWrap" style="background-image: url('../../assets/3.jpg');" (click)="selectCover(3)">
			<!-- <ion-img id="img" src="../../assets/3.jpg"></ion-img> -->
		</div>
		
		<div id="picWrap" style="background-image: url('../../assets/4.jpg');" (click)="selectCover(4)">
			<!-- <ion-img id="img" src="../../assets/4.jpg"></ion-img> -->
		</div>
		
		<div id="picWrap" style="background-image: url('../../assets/5.jpg');" (click)="selectCover(5)">
			<!-- <ion-img id="img" src="../../assets/5.jpg"></ion-img> -->
		</div>
		
		<div id="picWrap" style="background-image: url('../../assets/6.jpg');" (click)="selectCover(6)">
			<!-- <ion-img id="img" src="../../assets/6.jpg"></ion-img> -->
		</div>
		
		<div id="picWrap" style="background-image: url('../../assets/7.jpg');" (click)="selectCover(7)">
			<!-- <ion-img id="img" src="../../assets/7.jpg"></ion-img> -->
		</div>		

		<div id="picWrap" style="background-image: url('../../assets/8.jpg');" (click)="selectCover(8)">
			<!-- <ion-img id="img" src="../../assets/8.jpg"></ion-img> -->
		</div>		
	</div>
</ion-content>
